{
    "openapi": "3.0.1",
    "x-stoplight": {
        "id": "5bf5a1n68g4tq"
    },
    "info": {
        "title": "mimoto",
        "description": "mimoto",
        "license": {
            "name": "Mosip",
            "url": "https://docs.mosip.io/platform/license"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.collab.mosip.net/v1/mimoto",
            "description": "For Swagger"
        }
    ],
    "paths": {
        "/req/otp": {
            "post": {
                "operationId": "otpRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppOTPRequestDTO",
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Request example": {
                                    "value": {
                                        "individualId": "1289358704",
                                        "individualIdType": "UIN",
                                        "otpChannel": [
                                            "EMAIL",
                                            "PHONE"
                                        ],
                                        "transactionID": "1234567890"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OTP delivery response returned after Mimoto accepts an OTP generation request. It contains masked contact details showing where the OTP was sent.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "maskedMobile": {
                                                    "type": "string",
                                                    "description": "Masked mobile number to which the OTP or notification was sent.",
                                                    "example": "XXXXXX6677"
                                                },
                                                "maskedEmail": {
                                                    "type": "string",
                                                    "description": "Masked email address to which the OTP or notification was sent.",
                                                    "example": "jo****@example.com"
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "RESIDENT-APP-026"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "API not accessible failure"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "nullable": true,
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    },
                                    "description": "OTP delivery response returned after Mimoto accepts an OTP generation request. It contains masked contact details showing where the OTP was sent."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "maskedMobile": "XXXXXX6677",
                                                "maskedEmail": "jo****@example.com"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Generates and sends a one-time password (OTP) for the credential issuance flow. This API is used as the first step when a user wants to request a credential by proving ownership of their identity through an OTP challenge. On success, the response contains masked contact details indicating where the OTP was sent, along with any error details if the request could not be processed.",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Request Credential OTP"
            }
        },
        "/verifiers": {
            "get": {
                "operationId": "getAllTrustedVerifiers",
                "tags": [
                    "Verifiers"
                ],
                "summary": "List Trusted Verifiers",
                "description": "Returns the trusted verifier clients configured for the wallet experience. Use this API when the client needs to display or validate the verifier applications that are allowed to initiate presentation flows. The response contains the configured verifier identifiers and their registered redirect and response URIs.",
                "responses": {
                    "200": {
                        "description": "Trusted verifier list returned when the wallet requests all verifier clients that are allowed to initiate presentation flows.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "verifiers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "client_id": {
                                                                "type": "string",
                                                                "description": "OAuth2 client identifier registered for the verifier or issuer.",
                                                                "example": "https://injiverify.collab.mosip.net"
                                                            },
                                                            "redirect_uris": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Allowed redirect URIs registered for the verifier or issuer client.",
                                                                "example": [
                                                                    "https://example.com/resource"
                                                                ]
                                                            },
                                                            "response_uris": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Allowed response URIs to which wallet results or callbacks may be sent.",
                                                                "example": [
                                                                    "https://example.com/resource"
                                                                ]
                                                            }
                                                        },
                                                        "description": "Trusted verifier client metadata returned by the API."
                                                    },
                                                    "description": "List of trusted verifier clients configured for wallet or presentation flows.",
                                                    "example": [
                                                        {
                                                            "client_id": "https://injiverify.collab.mosip.net",
                                                            "redirect_uris": [
                                                                "https://example.com/resource"
                                                            ],
                                                            "response_uris": [
                                                                "https://example.com/resource"
                                                            ]
                                                        }
                                                    ]
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "VERIFIER-API-26"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "API not accessible failure"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": []
                                        }
                                    },
                                    "description": "Trusted verifier list returned when the wallet requests all verifier clients that are allowed to initiate presentation flows."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "verifiers": [
                                                    {
                                                        "client_id": "https://injiverify.collab.mosip.net",
                                                        "redirect_uris": [
                                                            "https://injiverify.collab.mosip.net/redirect"
                                                        ],
                                                        "response_uris": [
                                                            "https://injiverify.collab.mosip.net/redirect"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "VERIFIER-API-26",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-token/{issuer}": {
            "post": {
                "tags": [
                    "Credentials Download"
                ],
                "summary": "Exchange Authorization Code",
                "description": "Exchanges an authorization code for an access token in the OpenID4VCI or OIDC credential flow. Use this API after the user completes authorization with the issuer or authorization server. The response returns the token payload needed for credential retrieval, or an error list when the exchange cannot be completed.",
                "operationId": "getToken",
                "parameters": [
                    {
                        "name": "queryParams",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            },
                            "example": {
                                "grant_type": "authorization_code",
                                "code": "GL9N1V-authorizationcodeyBkoaonjplms",
                                "redirect_uri": "https://injiweb.collab.mosip.net/redirect",
                                "code_verifier": "Sq6nZNToevcodeVerifierjXw70LCJ"
                            }
                        },
                        "description": "Map of query parameters forwarded to the upstream token endpoint, such as authorization code, grant type, redirect URI, and PKCE verifier."
                    },
                    {
                        "name": "issuer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "MOSIPNationalID"
                        },
                        "description": "Issuer identifier configured in Mimoto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token response returned after Mimoto successfully exchanges the authorization code with the issuer or authorization server. It contains the access token and token metadata needed for credential issuance or retrieval.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "description": "Bearer access token used to authorize subsequent credential or issuer requests.",
                                                    "example": "eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9..."
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "description": "Type of token issued by the authorization server.",
                                                    "example": "bearer"
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "description": "Lifetime of the access token in seconds.",
                                                    "example": 3600
                                                },
                                                "scope": {
                                                    "type": "string",
                                                    "description": "Authorization scope granted for the issued token or supported credential.",
                                                    "example": "mosip_identity_vc_ldp"
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "nullable": true,
                                                    "description": "Refresh token that can be used to obtain a new access token when supported by the issuer.",
                                                    "example": "r1.eyJhbGciOiJIUzI1NiJ9..."
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "RESIDENT-APP-026"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "API not accessible failure"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "nullable": true,
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    },
                                    "description": "Token response returned after Mimoto successfully exchanges the authorization code with the issuer or authorization server. It contains the access token and token metadata needed for credential issuance or retrieval."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                                                "token_type": "bearer",
                                                "expires_in": 3600,
                                                "scope": "mosip_identity_vc_ldp",
                                                "refresh_token": "xyz123"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error response returned when the token exchange request is invalid or the upstream token endpoint cannot be reached.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "RESIDENT-APP-026"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "API not accessible failure"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    },
                                    "description": "Error response returned when the token exchange request is invalid or the upstream token endpoint cannot be reached."
                                },
                                "examples": {
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/request": {
            "post": {
                "operationId": "request",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "Unique individual identifier used for the request, such as UIN or VID.",
                                        "example": "1289358704"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "One-time password entered by the user to authorize the request.",
                                        "example": "111111"
                                    },
                                    "transactionID": {
                                        "type": "string",
                                        "description": "Transaction identifier used to correlate the OTP and follow-up credential request.",
                                        "example": "1234567890"
                                    },
                                    "user": {
                                        "type": "string",
                                        "description": "Username or login identifier associated with the request.",
                                        "example": "demo-user"
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Request example": {
                                    "value": {
                                        "individualId": "2057135194",
                                        "otp": "111111",
                                        "transactionID": "1234567890",
                                        "user": "mono"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Credential share request response returned after Mimoto validates the OTP-based issuance request and creates a credential generation request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "Unique identifier for this API transaction or the returned resource.",
                                                    "example": "mosip.mimoto.operation"
                                                },
                                                "requestId": {
                                                    "type": "string",
                                                    "description": "Identifier assigned to the credential issuance or download request.",
                                                    "example": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "RESIDENT-APP-026"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "API not accessible failure"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "nullable": true,
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    },
                                    "description": "Credential share request response returned after Mimoto validates the OTP-based issuance request and creates a credential generation request."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RES-SER-422",
                                                    "errorMessage": "Input transactionID does not match transactionID of OTP Request"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Creates a credential issuance request after the user submits a valid OTP for the OTP-based credential flow. Use this API after the OTP has been generated and verified by the user. The response returns the issuance request identifiers needed for status checks and credential download.",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Create Credential Request"
            }
        },
        "/credentialshare/request/status/{requestId}": {
            "get": {
                "operationId": "requestStatus",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                        },
                        "description": "Identifier of the previously created credential issuance request."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Credential share status response returned while polling for the current issuance state of a previously created request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "Unique identifier of the individual for whom the credential request was created.",
                                                    "example": "2057135194"
                                                },
                                                "requestId": {
                                                    "type": "string",
                                                    "description": "Identifier assigned to the credential issuance or download request.",
                                                    "example": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                                },
                                                "statusCode": {
                                                    "type": "string",
                                                    "description": "Current processing status of the credential request.",
                                                    "example": "ISSUED"
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "CREDENTIAL-SHARE-001"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "Credential generation failed for the supplied request."
                                                    }
                                                },
                                                "description": "Error entry returned by the downstream credential share process for this request."
                                            },
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": []
                                        }
                                    },
                                    "description": "Credential share status response returned while polling for the current issuance state of a previously created request."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                                "statusCode": "ISSUED"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                                "statusCode": "FAILED"
                                            },
                                            "errors": [
                                                {
                                                    "errorCode": "CREDENTIAL-SHARE-001",
                                                    "errorMessage": "Credential generation failed for the supplied request."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Returns the current processing status of a previously created OTP-based credential issuance request. Use this API to poll for completion after a credential request is submitted. The response contains the request identifiers, the current status code, and any downstream issuance errors.",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Get Credential Request Status"
            },
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "requestId",
                    "in": "path",
                    "required": true,
                    "description": "The credential request id"
                }
            ]
        },
        "/credentialshare/download": {
            "post": {
                "operationId": "download",
                "responses": {
                    "200": {
                        "description": "Credential download response returned once the credential share request reaches a completed state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CredentialDownloadResponseDTO"
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "credential": {
                                                    "biometrics": {
                                                        "face": "<face data>"
                                                    },
                                                    "province": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕೆನಿತ್ರಾ"
                                                        }
                                                    ],
                                                    "phone": "4567897654",
                                                    "city": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕೆನಿತ್ರಾ"
                                                        }
                                                    ],
                                                    "postalCode": "14022",
                                                    "fullName": [
                                                        {
                                                            "language": "eng",
                                                            "value": "kimgḻbb"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕಿಮ್ಗ್ೞ್ಬ್ಬ್"
                                                        }
                                                    ],
                                                    "region": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Rabat Sale Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ರಬತ್ ಸಲೆ ಕೆನಿತ್ರ"
                                                        }
                                                    ]
                                                },
                                                "verifiableCredential": {
                                                    "@context": [
                                                        "https://www.w3.org/2018/credentials/v1",
                                                        "http://localhost:8088/.well-known/mosip-context.json",
                                                        {
                                                            "sec": "https://w3id.org/security#"
                                                        }
                                                    ],
                                                    "credentialSubject": {
                                                        "biometrics": "<biometrics>",
                                                        "province": [
                                                            {
                                                                "language": "eng",
                                                                "value": "Kenitra"
                                                            },
                                                            {
                                                                "language": "kan",
                                                                "value": "ಕೆನಿತ್ರಾ"
                                                            }
                                                        ],
                                                        "city": [
                                                            {
                                                                "language": "eng",
                                                                "value": "Kenitra"
                                                            },
                                                            {
                                                                "language": "kan",
                                                                "value": "ಕೆನಿತ್ರಾ"
                                                            }
                                                        ],
                                                        "phone": "4567897654",
                                                        "postalCode": "14022",
                                                        "fullName": [
                                                            {
                                                                "language": "eng",
                                                                "value": "kimgḻbb"
                                                            },
                                                            {
                                                                "language": "kan",
                                                                "value": "ಕಿಮ್ಗ್ೞ್ಬ್ಬ್"
                                                            }
                                                        ],
                                                        "dateOfBirth": "1990/01/01",
                                                        "id": "http://credential.idrepo/credentials/2057135194",
                                                        "vcVer": "VC-V1",
                                                        "UIN": "2057135194",
                                                        "region": [
                                                            {
                                                                "language": "eng",
                                                                "value": "Rabat Sale Kenitra"
                                                            },
                                                            {
                                                                "language": "kan",
                                                                "value": "ರಬತ್ ಸಲೆ ಕೆನಿತ್ರ"
                                                            }
                                                        ],
                                                        "email": "santhosdss14@gmail.com"
                                                    },
                                                    "id": "http://credential.idrepo/credentials/a3afcf8c-e5a6-4782-9ce5-84740ec2f332",
                                                    "issuanceDate": "2022-10-31T05:08:26.980Z",
                                                    "issuer": "http://localhost:8088/.well-known/controller.json",
                                                    "proof": {
                                                        "type": "RsaSignature2018",
                                                        "created": "2022-10-31T05:08:26Z",
                                                        "proofPurpose": "assertionMethod",
                                                        "verificationMethod": "http://localhost:8088/.well-known/public-key.json",
                                                        "jws": "<The jws signature>"
                                                    },
                                                    "type": [
                                                        "VerifiableCredential",
                                                        "MOSIPVerifiableCredential"
                                                    ]
                                                }
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Downloads the credential payload generated for a completed OTP-based issuance request. Use this API after the credential request status indicates that issuance is complete. The response returns the wallet-friendly credential data and the verifiable credential document within the documented response wrapper.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "Unique individual identifier used for the request, such as UIN or VID.",
                                        "example": "1289358704"
                                    },
                                    "requestId": {
                                        "type": "string",
                                        "description": "Identifier of the previously created credential issuance request.",
                                        "example": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Request example": {
                                    "value": {
                                        "individualId": "2057135194",
                                        "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Download Shared Credential"
            }
        },
        "/credentialshare/callback/notify": {
            "post": {
                "operationId": "handleSubscribeEvent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventModel",
                                "description": "Credential share callback event payload delivered by the eventing system when the issuance workflow reaches a new state."
                            },
                            "examples": {
                                "Credential share callback": {
                                    "value": {
                                        "publisher": "credentialshare",
                                        "topic": "credential-issued",
                                        "publishedOn": "2026-04-08T12:00:00Z",
                                        "event": {
                                            "id": "mosip.mimoto.operation",
                                            "transactionId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                            "type": {
                                                "namespace": "credentialshare",
                                                "name": "credential-issued"
                                            },
                                            "timestamp": "2026-04-08T12:00:00Z",
                                            "dataShareUri": "https://api.example/data-share/123",
                                            "data": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Acknowledgment returned after Mimoto accepts a credential share callback event notification.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResponseDTO"
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "status": "SUCCESS",
                                            "message": "Request processed successfully."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Receives credential issuance callback notifications from the eventing system when the credential-share workflow changes state. This API is used internally by the platform to record issuance progress and trigger follow-up processing. The response returns a simple acknowledgment indicating whether the callback was accepted.",
                "summary": "Receive Credential Callback",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "x-internal": true
            }
        },
        "/binding-otp": {
            "post": {
                "operationId": "bindingOtpGenerate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "Timestamp at which the client created the request.",
                                        "example": "2026-04-08T12:00:00Z"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual id. UIN or VID.",
                                                "example": "1289358704"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "description": "OTP channels through which the user will be notified, for example EMAIL or PHONE.",
                                                "items": {},
                                                "example": [
                                                    "EMAIL"
                                                ]
                                            }
                                        },
                                        "description": "Nested request payload forwarded by Mimoto to the downstream identity service."
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Wallet binding otp request example": {
                                    "value": {
                                        "requestTime": "{{$isoTimestamp}}",
                                        "request": {
                                            "individualId": "3816083254",
                                            "otpChannels": [
                                                "EMAIL"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "Unique individual identifier used for the request, such as UIN or VID.",
                                        "example": "1289358704"
                                    },
                                    "individualIdType": {
                                        "type": "string",
                                        "description": "Type of the individual identifier supplied in the request.",
                                        "example": "UIN"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "One-time password entered by the user to authorize the request.",
                                        "example": "111111"
                                    },
                                    "vidType": {
                                        "type": "string",
                                        "description": "Type of VID requested or used for the wallet binding operation.",
                                        "example": "PERPETUAL"
                                    },
                                    "transactionID": {
                                        "type": "string",
                                        "description": "Transaction identifier used to correlate the OTP and follow-up credential request.",
                                        "example": "1234567890"
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Request example": {
                                    "value": "{\n    \"individualId\": \"2057135194\",\n    \"individualIdType\": \"UIN\",\n    \"otp\": \"111111\",\n    \"vidType\": \"PERPETUAL\",\n    \"transactionID\": \"1234567890\"\n}"
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "Timestamp at which the client created the request.",
                                        "example": "2026-04-08T12:00:00Z"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string",
                                                "description": "Unique individual identifier used for the request, such as UIN or VID.",
                                                "example": "1289358704"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "items": {},
                                                "description": "Channels through which the OTP should be delivered.",
                                                "example": [
                                                    "EMAIL"
                                                ]
                                            }
                                        },
                                        "description": "Nested request payload forwarded by Mimoto to the downstream identity service."
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Wallet binding OTP multipart request": {
                                    "value": {
                                        "requestTime": "2026-04-08T12:00:00Z",
                                        "request": {
                                            "individualId": "3816083254",
                                            "otpChannels": [
                                                "EMAIL"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "description": ""
                },
                "responses": {
                    "200": {
                        "description": "Wallet binding OTP response returned after the identity provider accepts the binding OTP request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "maskedEmail": {
                                                    "type": "string",
                                                    "description": "Masked email address of the user.",
                                                    "example": "jo****@example.com"
                                                },
                                                "maskedMobile": {
                                                    "type": "string",
                                                    "description": "Masked mobile number of the user.",
                                                    "example": "XXXXXX6677"
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "RES-SER-422"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "Invalid UIN"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": []
                                        }
                                    },
                                    "description": "Wallet binding OTP response returned after the identity provider accepts the binding OTP request."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "maskedEmail": "mono@mono.com",
                                                "maskedMobile": "7897897890"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RES-SER-422",
                                                    "errorMessage": "Invalid UIN"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Request Wallet Binding OTP",
                "tags": [
                    "Wallet Binding"
                ],
                "description": "Requests an OTP used to start the wallet-binding flow with the downstream identity system. Use this API before binding a wallet so the user can prove possession of the target identity through an OTP challenge. The response returns masked contact details showing where the OTP was sent, or error details if the binding OTP could not be requested."
            }
        },
        "/wallet-binding": {
            "post": {
                "operationId": "walletBinding",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "request timestamp",
                                        "example": "2026-04-08T12:00:00Z"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "authFactorType": {
                                                "type": "string",
                                                "description": "Auth factor type to be bound for the provided key.",
                                                "example": "WLA"
                                            },
                                            "format": {
                                                "type": "string",
                                                "description": "Format of the auth factor type supported in the wallet app. Right now Inji supports only jwt.",
                                                "example": "jwt"
                                            },
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual id. UIN or VID.\n",
                                                "example": "1289358704"
                                            },
                                            "publicKey": {
                                                "type": "string",
                                                "description": "The public key of the wallet app.",
                                                "example": "-----BEGIN RSA PUBLIC KEY-----MIICCgKCAgEA...-----END RSA PUBLIC KEY-----"
                                            },
                                            "challengeList": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "authFactorType": {
                                                            "type": "string",
                                                            "description": "Defines the type of auth challenge. It should be same as authfactor.type (oauth-details response).",
                                                            "example": "WLA"
                                                        },
                                                        "challenge": {
                                                            "type": "string",
                                                            "description": "Actual challenge as string. A jwt in case of inji.",
                                                            "example": "111111"
                                                        },
                                                        "format": {
                                                            "type": "string",
                                                            "description": "Format of the challenge provided.",
                                                            "example": "jwt"
                                                        }
                                                    }
                                                },
                                                "description": "List of user challenges submitted to prove possession of the requested authentication factor."
                                            }
                                        },
                                        "description": "Nested request payload forwarded by Mimoto to the downstream identity service."
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Wallet binding otp request example": {
                                    "value": {
                                        "requestTime": "2023-01-17T05:38:41.869Z",
                                        "request": {
                                            "authFactorType": "WLA",
                                            "format": "jwt",
                                            "individualId": "3816083254",
                                            "publicKey": "-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAxo8hdrLl6nXyPSeSJu8xgmBBwVutacZS57rmIlHeKJfjYhKLT51v\n0k2IQqN2v6A3HOZqzKXh41p3RrxdSndkqqHwS0BLEVPNpKqYoEbe0tUICDpDSFaa\n7w87Z/OSGrw8bKpxmUT0xZ70+DGPhnWlMvPV5xenG1bVtf/vEq7cwQei1iNbNQRb\nqw/57e9LgmXdmbh/v5XOllT7rlUFmVFm4V4J3u6NH9iOPGlIKTplBlYyxlx6ayaR\n09Z6z4RJICG1MIipCv5qJwuzzXXpBja6gEG4xsN5K4W6b5GLt3IuzMMaQmReseRR\n46s53vBp7aqq1wrjs/CZ1SZqZ5ZG/nUchjTv+Nir0vPR9acvPB5j5qDgfdVz2sT/\nYL1HoeFPOIgcY1ydz+tUBm9F4AMCMZa7GbEmtAIWvxlQp6emo50/opdb51B3Teh3\neVQ+JqYYhOpuTEv0uHfhonXEsNfpGyttjR0FSAH2c6mI6UULi/PfLgcvKuqkhE+7\nlB0SFd852C993GqsY7qfxW1GvJpXYRvo6oRoFO8sj+St36MkmzJbm56AQn/9KWd5\nRLh13xrIUVRnW48y/Blchw/C68Ez1bmCyDeVe1WBPwel0zPl62jCtKawzCQiZcTL\n/ejmlKFHKQd980MwWN18OVakKU52CkO0NT+9ovgi0TRfLKvG6PQ1qGECAwEAAQ==\n-----END RSA PUBLIC KEY-----\n",
                                            "challengeList": [
                                                {
                                                    "authFactorType": "OTP",
                                                    "challenge": "111111",
                                                    "format": "alpha-numeric"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "Unique individual identifier used for the request, such as UIN or VID.",
                                        "example": "1289358704"
                                    },
                                    "individualIdType": {
                                        "type": "string",
                                        "description": "Type of the individual identifier supplied in the request.",
                                        "example": "UIN"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "One-time password entered by the user to authorize the request.",
                                        "example": "111111"
                                    },
                                    "vidType": {
                                        "type": "string",
                                        "description": "Type of VID requested or used for the wallet binding operation.",
                                        "example": "PERPETUAL"
                                    },
                                    "transactionID": {
                                        "type": "string",
                                        "description": "Transaction identifier used to correlate the OTP and follow-up credential request.",
                                        "example": "1234567890"
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Request example": {
                                    "value": "{\n    \"individualId\": \"2057135194\",\n    \"individualIdType\": \"UIN\",\n    \"otp\": \"111111\",\n    \"vidType\": \"PERPETUAL\",\n    \"transactionID\": \"1234567890\"\n}"
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "Timestamp at which the client created the request.",
                                        "example": "2026-04-08T12:00:00Z"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string",
                                                "description": "Unique individual identifier used for the request, such as UIN or VID.",
                                                "example": "1289358704"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "items": {},
                                                "description": "Channels through which the OTP should be delivered.",
                                                "example": [
                                                    "EMAIL"
                                                ]
                                            }
                                        },
                                        "description": "Nested request payload forwarded by Mimoto to the downstream identity service."
                                    }
                                },
                                "description": "Request payload for this API operation."
                            },
                            "examples": {
                                "Wallet binding multipart request": {
                                    "value": {
                                        "requestTime": "2026-04-08T12:00:00Z",
                                        "request": {
                                            "individualId": "3816083254",
                                            "otpChannels": [
                                                "EMAIL"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "description": ""
                },
                "responses": {
                    "200": {
                        "description": "Wallet binding response returned after the user proves possession of the OTP and Mimoto completes the wallet binding flow.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "certificate": {
                                                    "type": "string",
                                                    "description": "Server certificate after successful binding. This certificate will be stored in wallet app.",
                                                    "example": "sample certificate"
                                                },
                                                "encryptedWalletBindingId": {
                                                    "type": "string",
                                                    "description": "The wallet binding ID in encrypted format. The wallet app will associate the requested credential with this id.",
                                                    "example": "sample-ID"
                                                },
                                                "expireDateTime": {
                                                    "type": "string",
                                                    "description": "Expiry date and time of the binding.",
                                                    "example": "sample expire date and time"
                                                },
                                                "thumbprint": {
                                                    "type": "string",
                                                    "description": "The certificate thumbprint.",
                                                    "example": "sample thumbprint"
                                                },
                                                "keyId": {
                                                    "type": "string",
                                                    "description": "The certificate key ID.",
                                                    "example": "sample-ID"
                                                }
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "Machine-readable error code that identifies the failure condition.",
                                                        "example": "RESIDENT-APP-026"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "Human-readable message describing the reason for the error.",
                                                        "example": "API not accessible failure"
                                                    }
                                                },
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": []
                                        }
                                    },
                                    "description": "Wallet binding response returned after the user proves possession of the OTP and Mimoto completes the wallet binding flow."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {
                                                "certificate": "-----BEGIN CERTIFICATE-----\nMIIDqjCCApKgAwIBAgIGAYW+PCLUMA0GCSqGSIb3DQEBCwUAMBMxETAPBgNVBAMT\nCE1vY2stSURBMB4XDTIzMDExNzA1MzgxMFoXDTIzMDEyNzA1MzgxMFowGTEXMBUG\nA1UEAxMOTW9jay11c2VyLW5hbWUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK\nAoICAQDGjyF2suXqdfI9J5Im7zGCYEHBW61pxlLnuuYiUd4ol+NiEotPnW/STYhC\no3a/oDcc5mrMpeHjWndGvF1Kd2SqofBLQEsRU82kqpigRt7S1QgIOkNIVprvDztn\n85IavDxsqnGZRPTFnvT4MY+GdaUy89XnF6cbVtW1/+8SrtzBB6LWI1s1BFurD/nt\n70uCZd2ZuH+/lc6WVPuuVQWZUWbhXgne7o0f2I48aUgpOmUGVjLGXHprJpHT1nrP\nhEkgIbUwiKkK/monC7PNdekGNrqAQbjGw3krhbpvkYu3ci7MwxpCZF6x5FHjqzne\n8GntqqrXCuOz8JnVJmpnlkb+dRyGNO/42KvS89H1py88HmPmoOB91XPaxP9gvUeh\n4U84iBxjXJ3P61QGb0XgAwIxlrsZsSa0Aha/GVCnp6ajnT+il1vnUHdN6Hd5VD4m\nphiE6m5MS/S4d+GidcSw1+kbK22NHQVIAfZzqYjpRQuL898uBy8q6qSET7uUHRIV\n3znYL33caqxjup/FbUa8mldhG+jqhGgU7yyP5K3foySbMlubnoBCf/0pZ3lEuHXf\nGshRVGdbjzL8GVyHD8LrwTPVuYLIN5V7VYE/B6XTM+XraMK0prDMJCJlxMv96OaU\noUcpB33zQzBY3Xw5VqQpTnYKQ7Q1P72i+CLRNF8sq8bo9DWoYQIDAQABMA0GCSqG\nSIb3DQEBCwUAA4IBAQAmbgQcW22AnrP/GH5lzt+Fy6t20lxqpMDIc3rCO6dzXMCR\n9ocjwLj7E243jGFbhHzC8637qOC8b5bYLZL2ND9ZehSu0qdz/0U0Kwt81rj/lihk\nvhD6xgx8g966AMZcZ0iQncyTzbdEukq6jMAtYfWvAu41rL0H5qvIFvxLHGOoxOYV\n0XZslWTC8B8TB3hzQ+HHexxSZbLSbB+sHFShubOlqqxE/zMj2O+c2FGYSOKlbTXi\nTd4m1WY/eJ4+0XjvEAAMZqLSLtnF5U1POz2onnk0u/lzsRnpxiqJY2++1WmCnuAT\nwDIwNEeAPotfm6tM1TjWuwakYrbSY7Ru0YjaFC1S\n-----END CERTIFICATE-----\n",
                                                "encryptedWalletBindingId": "qeCUuKEjRDUiDHfbYAsHv5L4RCiHe_KE7eKKjpw7jIo",
                                                "expireDateTime": "2023-01-27T05:38:10.000Z",
                                                "thumbprint": "rOe3ifBa0uIuKfArURKRKK5psE8YVdWxXbQoDXAvntk",
                                                "keyId": "1673933890260"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Complete Wallet Binding",
                "tags": [
                    "Wallet Binding"
                ],
                "description": "Completes wallet binding after the user submits the OTP and wallet public key material required by the downstream identity service. Use this API after the wallet-binding OTP has been generated and validated. The response returns the certificate and wallet-binding metadata that the client stores for later credential operations."
            }
        },
        "/allProperties": {
            "get": {
                "operationId": "getAllProperties",
                "responses": {
                    "200": {
                        "description": "Configuration response containing the key-value properties exposed by Mimoto for wallet or web client configuration.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Business response payload returned when the request is processed successfully."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "description": "Error entry describing a single business or validation failure."
                                            },
                                            "description": "List of business or validation errors returned for the request. This field is null or empty for a successful response.",
                                            "example": []
                                        }
                                    },
                                    "description": "Configuration response containing the key-value properties exposed by Mimoto for wallet or web client configuration."
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "response": {},
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-026",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Returns the configuration properties exposed by Mimoto for client applications such as Inji Web or wallet clients. Use this API when the client needs runtime configuration values that influence feature flags, supported auth modes, or UI behavior. The response contains a key-value map of configuration properties and any related errors.",
                "summary": "List Application Properties",
                "tags": [
                    "Inji Config"
                ]
            }
        },
        "/issuers": {
            "get": {
                "operationId": "getAllIssuers",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "mosip"
                        },
                        "description": "Optional free-text filter used to narrow the issuer list."
                    }
                ],
                "tags": [
                    "Trusted Issuers"
                ],
                "summary": "List Issuers",
                "description": "Returns the configured issuer list used by clients to display available credential issuers. Use this API when the wallet or web client needs issuer metadata such as display labels, logos, protocol details, and authorization endpoints. The response contains the issuer entries that match the optional search filter.",
                "responses": {
                    "200": {
                        "description": "Issuer list response containing all configured issuers and the display metadata required to render them in client applications.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "issuers": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "issuer_id": {
                                                                "type": "string",
                                                                "description": "Unique identifier of the issuer configuration.",
                                                                "example": "MOSIPNationalID"
                                                            },
                                                            "protocol": {
                                                                "type": "string",
                                                                "description": "Credential issuance protocol supported by the issuer.",
                                                                "example": "OpenId4VCI"
                                                            },
                                                            "display": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
[...]
